{{user.username}}

{{!-- Title and Date --}}
<div class="row justify-content-center">
  <div class="col-md-4">
    <h3>{{title}}</h3>
  </div>
  <div class="col-md-4">
    <p class="text-right">Last Updated On {{format_date updatedAt}}</p>
  </div>
</div>


{{!-- Post --}}
<div class="row justify-content-center">
  <div class="col-md-8">  
  <form>
  <div class="form-group mb-3">
    
  </div>
  <div class="form-group mb-3">
    <textarea readonly type="text-area" class="form-control" id="blog-text" placeholder="Text"></textarea>
  </div>

   <a href="/edit/{{id}}" class="btn btn-primary" id="edit-post">Edit this Blog</a>

</form>
</div>
</div>
<br>



{{!-- Comments --}}
<div class="row justify-content-center">
  <div class="col-md-8">
    <h3>Comments</h3>
{{#each comments as |comment|}}


<div class="card mb-3">
  <div class="card-body mb-3">

{{!-- Set Name and Date --}}
<div class="row">
  <div class="col-md-6">
    <p class="comment-username">{{user.username}}</p>
  </div>
  <div class="col-md-6">
    <p class="text-right">{{format_date createdAt}}</p>
  </div>
</div>

<p class="comment-text">{{comment_text}}</p>

  </div>
</div>







{{/each}}
  </div>
</div>




<script>
  $('#blog-text').text(`{{content}}`);

</script>


